/* 
font-family: 'Nunito Sans', sans-serif;
font-family: 'Yeseva One', cursive; 
*/

body {
margin: 0;
font-family: sans-serif, Arial, Helvetica; 
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.button {
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}

.button2 {
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;

    background: transparent;
    padding: 13px 33px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px; 
}
.logo {
    color: #E3B873;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;

}

.number {
/*    margin-left: 20px; */
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
    
}

.header{
    background-color: black;
}

.header_content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header_navigation {
    list-style: none;
    display: flex;
}

.header_navigation_item {
    margin-right: 47px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}

.header_navigation_item a {
    text-decoration: none;
    color:  white;
}

.FirstBackGroundImage {
    background-image: url('../images/FirstBackgroundImage.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px; 
    position: relative;  
}

.FirstBackGroundImage_overlay{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7)    
}

.block1_content{
    position: relative;
    margin: 0;
    z-index: 1;
    /* width: 676.11px;
    height: 305px;
    left: 135px;
    top: 277px; */
}

.title {
    margin: 0;
    font-family: 'Yeseva One' , 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    
    color: #E3B873; 
}

.block1_text{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;

    color: #FFFFFF;
}

.SecondStep{
    background-color: black; 
}

.FirstBlock {
    /* background-color: black; */
    position: relative;
    width: 1171px;
    height: 552.28px;
    left: 132px;
    top: 107px;
}

.block2_1_content {
    position: relative;
    top: 0px;
    left: 0px;
    size: 50%;
    
}

.block2_2_content {
    position: relative;
    /* width: 1171px;
    height: 552.28px;
    left: 132px;
    top: 107px; */
}

.block2_content_item{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.block2_content_item_title{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    
    color: #E3B873; 
}

.block2_content_item_title_main{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
}

.block2_content_item_faded{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3); 
}

.SecondBlockImage{
    background-image: url('../images/SecondBlockImage.png');
    background-size: cover;
    height: 707px;
    padding-top: 194px; 
    position: relative; 
}